extends layout

block content
  h1 Главная
  br

  #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
    .slides
    //- h3.title
    p.description
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator

  #gallery
    nav
      ul
        li: a.show-by-years(href='#by_years') по годам
        li: a.show-by-subjects(href='#by_subjects') по темам
        li: a.show-all.active(href='#all') все
    .content
