extends layout

block content
  .row
    #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
      .slides
      //- h3.title
      p.description
      a.prev ‹
      a.next ›
      a.close ×
      a.play-pause
      ol.indicator

    #gallery
      nav
        ul
          li: a.button.show-by-years(href='#by_years') по годам
          li: a.button.show-by-subjects(href='#by_subjects') по темам
          li: a.button.active.button-primary.show-all(href='#all') все
      .content
