extends layout

block content
  h1 Главная
  br

  #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
    .slides
    //- h3.title
    p.description
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator

  #gallery
    .content
